{% extends 'roomheader.html'%}
{% block title %}
Welcome to the room!
{% endblock %}
{% block content %}
<script type ="text/javascript" src="{{ url_for('static', filename='js/collect.js') }}"></script>
<b><div id ="word" style="font-size: 40px; text-align: center;">DRAW THIS PLZ: </div></b>
<div class="wrapper">
<center>
	<div class="canvas" id="canvasC">
		<canvas id="canvas" width="800" height="500"></canvas>
		<div class="toolbar" id="tools">
			<button class="button" id="blue" style="background-color: #0000ff"></button>
			<button class="button" id="red" style="background-color: #e62e00"></button>
			<button class="button" id="green" style="background-color: #009933"></button>
			<button class="button" id="yellow" style="background-color: #ffff00"></button>
			<button class="button" id="white" style="background-color: #ffffff"></button>
			<button class="button" id="black" style="background-color: #000000"></button>
			<button class="button" id="small" style="background: url('{{ url_for('static', filename='pics/small.png') }}'); background-size: contain;"></button>
			<button class="button" id="medium" style="background: url('{{ url_for('static', filename='pics/medium.png') }}'); background-size: contain;"></button>
			<button class="button" id="big" style="background: url('{{ url_for('static', filename='pics/big.png') }}'); background-size: contain;"></button>
			<button class="button" id="fill" style="background-color: #123456"></button>
			<button class="button" id="clearbt" style="background: url('{{ url_for('static', filename='pics/trashcan.png') }}'); background-size: contain;"></button>
			<button class="button" id="download" style="background-size: contain;"></button>
		</div>
	</div>
</center>
</div>
{% endblock %}