{% extends 'index.html'%}
{% block title %}
Title for game
{% endblock %}
{% block content %}
<br/>
<b><div style="font-size: 40px; text-align: center;">WELCOME TO THE PAINTING PALACE, {{ username }}</div></b>
<center>
<div class="wrapper">
	<div class="players" id="players">
	</div>
	<div class="infoCanvas"><div id="word">banana</div><span id="time"><div id="timer">01:30</div></span></div>
	<div class="canvas">
		<canvas id="canvas" width="800" height="500"></canvas>
		<div class="toolbar">
			<button class="button" id="blue" style="background-color: #0000ff"></button>
			<button class="button" id="red" style="background-color: #e62e00"></button>
			<button class="button" id="green" style="background-color: #009933"></button>
			<button class="button" id="yellow" style="background-color: #ffff00"></button>
			<button class="button" id="white" style="background-color: #ffffff"></button>
			<button class="button" id="black" style="background-color: #000000"></button>
			<button class="button" id="small" style="background: url('{{ url_for('static', filename='pics/small.png') }}'); background-size: contain;"></button>
			<button class="button" id="medium" style="background: url('{{ url_for('static', filename='pics/medium.png') }}'); background-size: contain;"></button>
			<button class="button" id="big" style="background: url('{{ url_for('static', filename='pics/big.png') }}'); background-size: contain;"></button>
			<button class="button" id="clearbt" style="background: url('{{ url_for('static', filename='pics/trashcan.png') }}'); background-size: contain;"></button>
			<button class="button" id="download" style="background-size: contain;"></button>
		</div>
	</div>
	<script type ="text/javascript" src="{{ url_for('static', filename='js/paint.js') }}"></script>
	<script type ="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
	<script type ="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
	<div class="chat">
		<div class="messageBox" id="messages"></div>
		<input type="text" id="chatinput" name="text" placeholder="Type in chat..." style="width: 100%;"><br>
	</div>
	<br>
</div>
</center>
{% endblock %}