* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 14px;
}

.wrapper {
	display: flex;
	padding-top: 50px;
	width: 1200px;
}

.toolbar {
	margin-top: 10px;
	width: : 100%;
}

.toolbar .button {
	padding: 20px;
	border: 5px solid black;
	transition-duration: 0.2s;
}

.canvas {
	cursor: crosshair;
	width: 800px;
	height: 500px;
	border: 1px solid black;
	margin-bottom: 20px;
	margin-left: 260px;
}

.chat {
	flex: 1;
	padding-left: 10px;
}

.chat #chatinput {
	height: 30px;
	width: 100%;
	margin-bottom: 3px;
}

.chat .messageBox {
	border: 1px solid black;
	height: 467px;
	width: 300px;
	margin-bottom: 3px;
	overflow: auto;
}

.chat .message {
	height: 60px;
	width: 90%;
	border: 1px solid black;
	margin: 15px;
	border-radius: 5px;
	background-color: #C5C5C5;
}

.chat .message .user {
	margin: 10px;
	margin-top: 5px;
	font-size: 18px;
	font-weight: bold;
}

.chat .message .text {
	margin: 12px;
	margin-top: -8px;
	font-size: 15px;
}

.players {
	position: fixed;
	float: left;
	height: 500px;
	width: 250px;
	border: 1px solid black;
}

.players .gamer {
	width: 100%;
	height: 60px;
	border: 1px solid black;
}

.players p.gamer {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 5em;
}